/* CUSTOM CLASS */

.shiny-btn {
  position: relative;
  overflow: hidden;
}

/* pasek */
.shiny-btn::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -50%;
  width: 80%;
  height: 140%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 40%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-250%) skewX(-40deg);
  pointer-events: none;
}

.shiny-btn:hover::before {
  animation: button-shine 0.9s ease-out;
}
