/* CUSTOM CLASS */

.shiny-btn {
  overflow: hidden;
}

/* pasek */
.shiny-btn::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -50%;
  width: 80%;
  height: 140%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 40%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-250%) skewX(-40deg);
  pointer-events: none;
}

.shiny-btn:hover::before {
  animation: button-shine 0.9s ease-out;
}

.glass2 {
  backdrop-filter: blur(8px) saturate(140%);
  -webkit-backdrop-filter: blur(8px) saturate(140%);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}

.glass {
  background: linear-gradient(to right, var(--c-accent) var(--c-primary));
  -webkit-backdrop-filter: blur(12px) saturate(120%);
  backdrop-filter: blur(12px) saturate(120%);
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.35);
  border-radius: 2rem;
}

.liquid-glass {
  -webkit-backdrop-filter: blur(18px) saturate(160%);
  /* background-color: color-mix(in oklch, white 10%, transparent); */
  backdrop-filter: blur(18px) saturate(160%);
  /* background-image: radial-gradient(
    circle at top left,
    color-mix(in oklch, white 22%, transparent) 0,
    transparent 55%
  ); */
  background-blend-mode: screen;
}

/* Wersja dostrojona do dark mode (jeśli używasz `class="dark"` na <html>) */
.dark .liquid-glass {
  background-color: color-mix(in oklch, black 35%, transparent);
  border-color: color-mix(in oklch, white 18%, transparent);
  box-shadow: var(--shadow-xl);
}

.glow-amber {
  box-shadow: 6px 0 15px rgba(245, 158, 11, 0.55);
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marqueeScroll 40s linear infinite;
}
