@import "tailwindcss";
@import "./classes.css";
@import "./animations.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --c-accent: #fff2d2;
  --c-primary: #a6741d;
  --c-secondary: #46acf0;
}

@theme {
  --max-w-hd: 1920px;
  --h128: 32rem;
}

@layer utilities {
  .max-w-hd {
    max-width: var(--max-w-hd);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-curier: var(--font-curier);
  --font-ultra: var(--font-ultra);
  --font-play: var(--font-play);
  --font-special: var(--font-special);
  --font-playwrite: var(--font-playwrite);
  --font-amatic: var(--font-amatic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE i Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
