@import "tailwindcss";
@import "./classes.css";
@import "./animations.css";

:root {
  --background: #fcfaf7;
  --foreground: #171717;
  --c-accent: #fff2d2;
  --c-primary: #a6741d;
  --c-secondary: #46acf0;
}

@theme {
  --max-w-hd: 1920px;
  --h128: 32rem;
}

@layer utilities {
  .max-w-hd {
    max-width: var(--max-w-hd);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-curier: var(--font-curier);
  --font-ultra: var(--font-ultra);
  --font-play: var(--font-play);
  --font-special: var(--font-special);
  --font-playwrite: var(--font-playwrite);
  --font-amatic: var(--font-amatic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.dark .bg-ranczo-texture {
  background-color: var(--background);
  background-image:
    radial-gradient(#e5e7eb 0.5px, transparent 0.5px),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.05' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size:
    20px 20px,
    150px 150px;
  background-repeat: repeat;
}

.bg-ranczo-texture {
  /* Zostawiamy tylko szum, kropki usuwamy dla absolutnej czystości */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.03' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

@keyframes pan-video {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%); /* Przesunięcie w lewo */
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-pan-video {
  /* 20 sekund zapewnia bardzo powolny, kojący ruch */
  animation: pan-video 20s ease-in-out infinite;
}
